# Python caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environments
.env
venv/
env/

# IDE files
.vscode/
.idea/